.contenedor-padre {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px 25px;
  }
  
  .Header { grid-area: 1 / 1 / 2 / 4;
            background-color:#cce0ff;
            text-align: center;
            color: black;
            padding: 2%;
  }

  .Footer { grid-area: 1 / 1 / 2 / 4;
    background-color: #cce0ff;
    text-align: center;
    color: black;
    padding: 2%;
}
      
  span{
    font-style: italic;
    color: #005ce6;
  }

  h2{
      padding: 2%;
      color: black;
  }



  p{
    padding: 2%;
    color: black;
    letter-spacing: 1px;
  }

  img{
      margin-top: 5%;
  }

  .mainDiv { grid-area: 2 / 1 / 4 / 4; }
  
  .unaTarjeta-1 { grid-area: 2 / 1 / 4 / 2;
                  background-color: aqua;
                  padding: 2%;  
                }
  
  .unaTarjeta-2 { grid-area: 2 / 2 / 4 / 3;
                    background-color: burlywood;
                    padding: 2%;
                }
  
  .unaTarjeta-3 { grid-area: 2 / 3 / 4 / 4;
                    background-color: coral;
                    padding: 2%;
                }

  
  