  .Header { grid-area: 1 / 1 / 2 / 4;
            background-color:#cce0ff;
            text-align: center;
            color: black;
            padding: 2%;
  }

  .Footer { grid-area: 1 / 1 / 2 / 4;
    background-color: #cce0ff;
    text-align: center;
    color: black;
    padding: 2%;
}
      
  span{
    font-style: italic;
    color: #005ce6;
  }

  h2{
      padding: 2%;
      color: black;
      font-size: large;
  }



  p{
    padding: 0,5%;
    color: black;
    letter-spacing: 1px;
    font-size: medium;
  }

  img{
      margin-top: 5%;
  }


  
  .unaTarjeta-1 { 
                 
                  justify-content: space-around;
                  display:flex;
                  flex-wrap:wrap; 
                  display: flex;
                  background-color: rgb(244, 244, 244);
                  padding: 2%;  
                 
 
                }
 

  
  